* {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.theme-color {
    color: #ffffff;
    background-color: #269abc;
}

.margin-change {
    margin: 4% 0% 2% 0%;
}
